html, body {
    height:100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 160%;
    position: relative;
    overflow: hidden;
}

.img-block img {
    height: 100%;
    object-fit: contain;
}
.img-block {
    flex: 1;
    margin: 20px;
    border: 1px solid #6c757d;
    position: relative;
    display: inline-block;
}
.img-block:hover {
    background-color: #6c757d;
}
.block-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.img-block:hover .block-button {
    opacity: 1;
}
.selected-button {
    display: none;
}
.block-button button, .selected-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.block-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.block-button button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#mathLabContent, #physicsLabContent, #psychologyLabContent, #biologyLabContent, #geographyLabContent {
    position: relative;
    /*top: 83px;*/
    /*left: 83px;*/
}
#mathLabContent img, #physicsLabContent img, #psychologyLabContent img, #biologyLabContent img, #geographyLabContent img {
    position: absolute;
}

.mathLabDoor, .psychologyLabDoor, .biologyLabDoor {
    text-align: center;
    height: 100px;
    width: 100px;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
}
.mathLabDoor {
    background-color: yellow;
    bottom: 0;
    right: 0;
}
.psychologyLabDoor {
    background-color: green;
    bottom: 50%;
    right: 50%;
}
.biologyLabDoor {
    background-color: red;
    bottom: 50%;
    right: 0;
}

.canvasContainer {
    position: relative;
    top: 270px;
    height: 800px;
}
#canvas {
    border: 1px solid black;
    background: #d79c50;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
